<h1>Basic Bank System Index</h1>
<p>Using express view engine</p>

<p>You can see my REST API Documentation here</p>
<form action="/api-docs" method="get">
  <div>
    <input type="submit" value="API-Docs" />
  </div>
</form>
